<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <% data.forEach(student=>{ %>
      <li><a href="/students/<%=student.id%>"><%=student.name%></a></li>
      <% }) %>
    </ul>
    <button onclick="window.location.href='/students/insert'">
      add student
    </button>
  </body>
</html>
